*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
                
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    

}

.box-1{
    width: 50vw;
    height: 100vh;

    display: grid;
    display: flex;
    flex-wrap: wrap;

    grid-template-columns: 40% 1fr;
    grid-template-rows: 100%;

    grid-template-areas: 
    "sidebar-left main-login"
    
   ;

    
}

.box-1 .box-1-1{
    width: 40%;
    height: 100vh;
    background-color: gold;
    grid-area: sidebar-left;
}

.box-1 .box-1-2{
    width: 60%;
    height: 100vh;
    background-color: red;
    grid-area: login;
    position: relative;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    grid-area: main-login;

    grid-template-columns: 100%;
    grid-template-rows: 20% 25% 1fr;

    grid-template-areas: 
    "logo"
    "slogan"
    "login-form"

    
}

.box-1 .box-1-2 .box-1-2-1{
    /* background-image: url(../../imagenes/bocados-fondo-negro-2.png); */

    width: .5rem;
    height: .5rem;


    grid-area: logo;
}

.box-1 .box-1-2 .box-1-2-2{
    grid-area: slogan;
}

.box-1 .box-1-2 .box-1-2-3{
    grid-area: login-form;
}







.box-2{
    width: 50%;
    height: 100vh;
    background-color: orangered;
}