*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 100vw;
    background-color: black;
    
    
}

.container{
    width: 100%;
    background-color: green;

    display: grid;

    grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "sidebar-right titulo titulo titulo titulo"
    "sidebar-right main main main main"
    "sidebar-right main main main main" 
    "sidebar-right main main main main" 
    "sidebar-right main main main main"
    "sidebar-right footer footer footer footer"
    
    /* card-1 card-2 card-3 card-4"
    "sidebar-right card-5 card-6 card-7 card-8"
    "sidebar-right card-9 card-10 card-11 card-12" */
    ;


    gap: 1rem;
}

.navbar{
    width: 98vw;
    height: 8vh;

    background-color: blue;
    color: white;

    font-size: 2rem;

    display: flex;
    align-items: center;

    grid-area: navbar;
}

.titulo{
    width: 85vw;
    background-color: pink;
    font-size: 4rem;

    text-align: center;

    grid-area: titulo;

}

.sidebar-right{
    width: 10vw;
    

    background-color: red;

    font-size: 4rem;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    

    grid-area: sidebar-right;


}

.text{
    transform: rotateZ(270deg);
}

.main{
    width: 85vw;

    background-color:darkblue;

    gap: 2rem;

    grid-area: main;
    
    /* grid-template-areas: 
    "card-1 card-2 card-3 card-4"
    "card-5 card-6 card-7 card-8"
    "card-9 card-10 card-11 card-12" */
    ;

    
}

.footer{
    width: 85vw;
    height: 8vh;
    background-color: yellow;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;



    grid-area: footer;
}





/* CARD DE SERVICIOS */

.card-1{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-1;
}

.card-2{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-2;

    
}

.card-3{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-3;
}

.card-4{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-4;
}

.card-5{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-5;
}

.card-6{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-6;
}

.card-7{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-7;
}

.card-8{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-8;
}

.card-9{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-9;
}

.card-10{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-10;
}

.card-11{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-11;
}

.card-12{
    width: 300px;
    height: 500px;

    background-color: rgb(56, 54, 54);

    overflow: hidden;

    grid-area: card-12;
}

.img{
    width: 100%;
    height: 60%;
}

.logo{
    width: 100%;
    height: 100%;
}



/* //////////////// CARD 1  ///////////// */

.title-1{
    font-size: 1.8rem;
    padding: .5rem;

    display: flex;
    justify-content: center;
    
}



.pragraph-1{
    color: white;

    padding: 1rem;

    margin-top: 1rem;
}



.button-1{
    margin: 2rem 0 0 0;
}

.link-1{
    background-color: black;
    color: white;
    text-decoration: none;

    padding: 3%;
    margin: 0 0 0 34%;
    border-radius: 0.5rem;
    border-color: white;
}



/*/////////////////// CARD 2  //////////////////////*/

.title-2{
    font-size: 1.8rem;
    padding: .5rem;

    display: flex;
    justify-content: center;
    
}



.paragraph-2{
    

    color: white;

    padding: 1rem;

}



.button-2{
    margin: .6rem 0 0 0;
}

.link-2{
    background-color: black;
    color: white;
    text-decoration: none;

   padding: 3%;
   margin: 0 0 0 34%;
   border-radius: 0.5rem;
   border-color: white;
}



/*/////////////////// CARD 3  //////////////////////*/

.title-3{
    font-size: 1.8rem;
    padding: .5rem;

    display: flex;
    justify-content: center;
    
}



.paragraph-3{
    

    color: white;

    padding: 1rem;

}



.button-3{
    margin: 1rem 0 0 0;
}

.link-3{
    background-color: black;
    color: white;
    text-decoration: none;

   padding: 3%;
   margin: 0 0 0 34%;
   border-radius: 0.5rem;
   border-color: white;
}

